<div id="interests"> <!-- Interests -->
  <br>
  <h4>Things I am interested in and would love to explore more in the future</h4>
  <div class="insterests-box">
    <ul class="row">
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("java.png"), "http://www.oracle.com/technetwork/java/index.html", html: { alt: "Java logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("react.png"), "https://reactjs.org/", html: { alt: "React logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("vue.png"), "https://vuejs.org/", html: { alt: "Vue logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("database.png"), "http://en.wikipedia.org/wiki/Database", html: { alt: "Database logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("android.png"), "http://developer.android.com/index.html", html: { alt: "Android logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("apple_apps.jpg"), "https://developer.apple.com/devcenter/ios/index.action", html: { alt: "Apple Apps logo" } %></li>
    </ul>
    <br class="clear" />
  </div>
</div>