<!-- Skills -->
<div id="skills">
  <br>
  <h4>Some of the amazing things I have been trained on at Makers Academy</h4>
  <br>
  <div class="skills-box">
    <ul class="row">
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("ruby.png"), "https://www.ruby-lang.org/en/", html: { alt: "Ruby logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("rails.png"), "http://rubyonrails.org/", html: { alt: "Rails logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("sinatra.jpg"), "http://www.sinatrarb.com/", html: { alt: "Sinatra logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("html5.jpg"), "http://www.w3schools.com/html/", html: { alt: "HTML5 logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("css3.png"), "http://www.w3schools.com/css/css3_intro.asp", html: { alt: "CSS3 logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("javascript.png"), "https://developer.mozilla.org/en-US/docs/Web/JavaScript", html: { alt: "Javascript logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("postgresql.png"), "http://www.postgresql.org/", html: { alt: "PostgreSQL logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("github.png"), "https://github.com/", html: { alt: "GitHub logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("heroku.png"), "https://www.heroku.com/", html: { alt: "Heroku logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("rspec.png"), "http://rspec.info/", html: { alt: "RSpec logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("capybara.png"), "https://github.com/jnicklas/capybara", html: { alt: "Capybara logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("bootstrap.jpg"), "http://getbootstrap.com/", html: { alt: "Bootstrap logo" } %></li>
    </ul>
    <br class="clear"/>
  </div>
  <h4>Some of the things I have had the opportunity to work with</h4>
  <div class="skills-box">
    <ul class="row">
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("angular.jpg"), "https://angularjs.org/", html: { alt: "Angular logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("jquery.jpg"), "http://jquery.com/", html: { alt: "jQuery logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("coffeescript.png"), "http://coffeescript.org/", html: { alt: "CoffeeScript logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("ajax.jpg"), "https://developer.mozilla.org/en/docs/AJAX", html: { alt: "AJAX logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("json.png"), "http://www.json.org/", html: { alt: "JSON logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("haml.jpg"), "http://haml.info/", html: { alt: "HAML logo" } %></li>
    </ul>
    <br class="clear"/>
  </div>
</div>
